a {
  text-decoration: none;
}

.font-serif {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.btn {
  padding: 6px;
  align-self: end;
}
.btn > img {
  width: 18px;
}
.btn:focus {
  box-shadow: none;
  align-items: ;
}
input,
select {
  margin: 7px 0;
  border-radius: 7px;
  height: 45px;
  border: 2px solid rgb(195, 199, 202);
  background: white;
}
textarea {
  margin: 7px 0;
  border: 2px solid rgb(195, 199, 202);
  background: white;
  border-radius: 7px;
  max-height: 200px;
}
input,
textarea,
select:focus {
  outline: none;
}

/*Navbar*/
.navbar-nav {
  margin-bottom: 25px;
}
.dropdown {
  width: 175px;
  text-align: center;
  margin: auto;
}
.navbar-nav {
  align-items: center;
}

/*Logo*/
.logo {
  width: 70px;
}

/*Pagina 1*/
/*Hero*/
.hero {
  min-height: 100vh;
}
/*Boton*/
.inicio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
.inicio:hover {
  color: rgb(37, 42, 65);
}
/*Pagina2*/
.risas {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.pagina2 {
  min-height: 100vh;
  margin-top: 90px;
}
/*Botones*/
.propietario:hover {
  color: white;
}

.cartas {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

/*Pagina 3*/

/*Botones*/
.ingresar {
  width: 100px;
  align-items: ;
}
.google__cuenta > img {
  width: 25px;
}

/*Pagina 4*/
.bienvenida {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Pagina5*/
.pagina5 {
  min-height: 100vh;
  margin-top: 90px;
}
/*Pagina6*/
.pagina-6 {
  min-height: 100vh;
  margin-top: 90px;
}
.publicar {
  height: 280px;
  object-fit: cover;
  object-position: center;
}
.btn-publicar {
  top: 10%;
  left: 10%;
}

.contenido--form {
  background: rgba(255, 255, 255, 0.582);
  padding: 15px;
  border-radius: 10px;
}

.formulario-publicar {
  max-width: 500px !important;
}
.contenido-ubicacion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
/*Footer*/
/* .footer-cont {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
} */
.social > i {
  cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-whatsapp:hover {
  color: rgb(9, 118, 139) !important;
}
@media (min-width: 768px) {
  /*Paina2*/
  .cartas {
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
  /*Pagina6*/
  .contenido-ubicacion {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  /*Pagina2*/
  .risas {
    height: auto;
  }
  .text-title {
    transform: translate(0, -100%) !important;
  }
  .buscador {
    top: 50%;
    transform: translate(0, -10%);
  }
  .cartas {
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  /*Pagina6*/
  .promocion {
    font-size: 45px;
    width: 425px;
    top: 16%;
    left: 3%;
  }
  .btn-publicar {
    left: 85%;
  }
  .publicar {
    height: 480px;
  }
  .contenido--form {
    position: relative;
    top: -10%;
  }
}
@media (min-width: 1400px) {
  /*Pagina5*/
  .busca {
    top: 18%;
  }
}
.buscador > input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: 0;
}
.text-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
